* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(images/image-C7-SwVIoW-transformed.png); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.left-message {
    width: 45%;
    padding: 20px;
    text-align: left;
    color: #333;
}

.logo {
    width: 350px;  
    height: 250px; 
    background-image: url(images/gitam_aero_astro_club_cover-transformed.jpeg);
    background-size: cover; 
    background-position: center;
    margin-bottom: 20px;
}


.contact-container {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    font-size: 12px;
    visibility: hidden;
}

.hidden {
    display: none;
}

#form-success {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
}
